.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(66, 87, 127);
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.button:focus {
  outline: solid rgba(165, 198, 246, 0.8) 2px;
}
