.header {
  background-color: #1d3557;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.content {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.inputContainer {
  background-color: #457b9d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.switchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.icon {
  height: 32px;
  width: 32px;
  margin-left: 5px;
}
