.switch {
  display: flex;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  transition: all;
  transition-duration: 275ms;
}
.toggler {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  transition: all;
  transition-duration: 250ms;
}
